<?php
 $phpCodeSnifferConfig = array (
  'installed_paths' => '../../../,../../wp-coding-standards/wpcs/,../../phpcompatibility/php-compatibility/,../../phpcompatibility/phpcompatibility-wp/',
  'default_standard' => 'WP-Engine',
  'report_format' => 'info',
  'show_progress' => '1',
  'report_width' => '120',
  'colors' => '1',
)
?>